body{
    background-color: rgb(2, 2, 2);
    width: auto;
    
}
*{
box-sizing: border-box;}
body::-webkit-scrollbar {
    display: none;
  }


.headroom{
 
    height:400px ;
    width: 100%;
    padding-top:10%;
    padding-bottom:10%;

    background-image: url(img8.jpg);
    background-repeat: repeat;
    background-attachment:scroll;
    background-size: cover;
  

}
.navbars{
 position:fixed;
 margin: auto;
 background-color: black;
 width: 100%;
 z-index: 100px;
}
.navbars:hover{
    background-color: rgba(0, 0, 0, 0.342);

}

a{
    color: rgb(255, 255, 255,0.80);
    height: 100%;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

   
   
    
  
}
a:hover{
    background-color: rgba(41, 41, 41, 0.158);
    text-decoration: none;
    color: rgb(240, 237, 234);
  
}
li{
    width: 30%;
    padding: 12px;
    height:100%;
    list-style: none;
    text-align: center;
    margin: 0px;
    border-radius: 7px;
    
    
    
  

}
li:hover{
    background-color: rgb(43, 41, 41); 
}
.navigation{
    
    height:100%;
    display:flex;
    text-decoration: none;
    width: 70%;
   border-radius: 7px;
    margin: auto;

  


}
.nav:hover{
    

}
#webtitle{
    color: rgba(252, 250, 250);
   text-align:center ;
   margin: auto;
  
}
#search-bar{
    width:40%;
    border-radius: 4px;
    font-size: 16px;
    
    height: 40px;
    margin: auto;
    margin-top:20px;
    display: flex;
  
   
}
.form-control{
    height: 100%;
    
}
.form-control:hover{
    border: 0.8px solid grey;
}


input[type=text] {
    width: 80%;

    
    
    border-radius: 4px;
    font-size: 16px;
    background-color: white;

   
    
  }
.btn{
    height: 100%;
    background-color: deepskyblue;
    border-radius: 5px;
    border:0px;
    width: 20%;
    cursor: pointer;

}

h1{

    font-size: 40px;
    color: rgb(243, 235, 235);
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
    text-shadow: 1px,1px,5px, black;
    margin: auto;
    
}
.main-container{
                border:1px solid red 1px;
                padding-left: 2px;
                padding: 5px;
                align-content:space-between;
                
    
    
    }
    .parent-cont{
        height: 400px;
        overflow: auto;
        width: 100%;
        
      
    }
    .parent-cont::-webkit-scrollbar {
        display: none;
      }
.city-cont{
    height:300px;
    display: flex;
    margin-top:10px;
    width: 100%;
    background-color: rgb(10, 10, 10);
    
    border-radius: 5px;
   
}
.row{
    margin-left: 2px;
    display:flex;
    margin-right: 10px;
   
}
.images{
    width: 32%;
    border-radius: 7px;
    margin-left: 10px;
    padding: px;
    
}
h3 h4 h5{
    color: rgb(240, 237, 234);
}
.description{

}
.side-bar{
    width: 40%;
    height: 300px;
    background-color: rgb(243, 235, 235);
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;

}
.new-description{
    width: 100%;
    background-color: rgb(243, 235, 235);
    margin: 0px;
    height: 400px;
   

}
.new-description_box{
    margin: auto;
    width: 65%;
    height: 100%;
    display: flex;
    padding: 5px;
    
    

}
.new-description_box:hover{
    background-color: rgba(214, 210, 210, 0.384);
}
.new-description_box_image{
    width: 50%;
    height:100%;

    
}
.flip-image{
    width: 100%;
    height:100%;
}
.new-description_box_info{
    width: 50%;
    height:100%;
    padding: 20px;

    

}
#desc_title{
   
    margin:10px;
    padding: 20px ;
    text-align: center;
    font-weight:bolder;
    

    
}
#desc_info{
     text-align: center;
     font-weight: normal;
     padding-top: 10px;
     padding: 50px;
     border-top: 10px solid rgb(138, 136, 136);
     border-left: 10px solid rgb(128, 128, 128);
     border-radius: 4px;
     font-family: Georgia, 'Times New Roman', Times, serif;
}

   
  
